# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
.next/
out/

# production
/build
/backup

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
